torch==2.6.0
torchaudio==2.6.0

git+https://github.com/huggingface/transformers

accelerate>=0.34.0
huggingface_hub>=0.25.0
sentencepiece>=0.2.0

numpy>=1.26,<2.0
scipy>=1.11.0
librosa>=0.10.2
soundfile>=0.12.1

datasets>=2.20.0
jsonlines>=4.0.0
pandas>=2.2.0
PyYAML>=6.0.1
tqdm>=4.66.0

omegaconf==2.3.0
easydict>=1.13
immutabledict>=4.2.0
rich>=13.7.0
loguru>=0.7.2
